html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="favicon.ico")
        title Restaurant Home Page 
    body 
        include ./../partials/navheader.pug
        h2#header WELCOME!